<%-include('./../partials/header')%>

    <!-- own css sheets -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>

<div class="container">

    <div class="row mt-4">

        <div class="col-md-3 col-1"></div>
        <div class="col-md-6 col-10 container-box">

            <h6 class="display-6">Sign Up</h6>

            <div class="mb-3">
                <%if(message && message.length){%>
                    <p><%=message%></p>
                <%}%>
            </div>

            <form action="/register" method="POST" enctype="multipart/form-data">
                <%-include('./../partials/flash')%>
                <div class="mb-3">
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                </div>

                <div class="mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>

                <div class="mb-3">
                    <input type="username" class="form-control" id="username" name="username" placeholder="Username">
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>

                <div class="mb-3">
                    <label id="profilePic" class="form-label">Profile Picture</label>
                    <input type="file" class="form-control" id="profilePic" name="profilePic">
                </div>

                <div class="mb-3">
                    <p>Already have an account? <a href="/login">Login</a></p>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Sign up</button>  
                </div>
            </form> <!-- Form ends here -->
            
        </div> <!-- column ends here -->
    
    </div>
</div>

<%-include('./../partials/footer')%>