<%if(success && success.length){%>
        <p class="text-center bg-success text-white p-3" style="border-radius: 10px;"><%=success%></p> 
<%}%> 
<%if(error && error.length){%>
        <p class="text-center bg-danger text-white p-3" style="border-radius: 10px;"><%=error%></p> 
<%}%>
